@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  width: 100px;
  border-radius: 50%;
}

.logo-rotando {
  animation-name: rotar-logo;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.logo-rotando-footer {
  animation-name: rotar-logo;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotar-logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.titulo-animado {
  animation-name: titulo-pagina;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes titulo-pagina {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* color de fondo del menu */
.navbar {
  font-size: 15px;
  background-color: rgb(27, 3, 243) !important;
}

/* color de la letra del menú */
.navbar .nav-link {
  color: rgb(92, 187, 239);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cambia de color al pasar el mouse */
.navbar .nav-link:hover {
  text-decoration: underline;
  color: rgb(226, 150, 9);
}

/* letra del menú */
.nav-item {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* -------- FOTOS DE LA GALERÍA ------ */
.galeria {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.galeria img {
  width: 300px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.img-galeria {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.img-galeria img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

/* color de la fondo de las imagenes */
.proyecto {
  background-color: rgb(10, 2, 246);
  margin: 20px auto;
  padding: 5px;
  width: 95%;
  border-radius: 15px;
}

/* título de la caja de fotos */
.subtitulo {
  text-align: center;
  color: rgb(83, 203, 243);
  font-size: 22px;
  margin-bottom: 10px;
}

.mapa {
  max-width: 600px;
  margin: auto;
}

/* color de fondo del formulario */
.formulario-contacto {
  background-color: #d2e2fa;
  color: #363122;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* color de los titulos del formulario */
.form-label {
  /* text-align:center; */
  color: rgb(237, 159, 41);
}

/* color del boton enviar */
.btn-primary {
  background-color: rgb(132, 199, 241);
  border-radius: 20%;
  border-color: rgb(236, 164, 11);
  color: blue;
}

.formulario-contacto {
  text-align: left;
}

/* color de fondo del header */
header {
  display: flex;
  background-color: #00d0ff;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  z-index: 100;
}

header img {
  display: flex;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* color del titulo de la pagina */
header h1 {
  text-align: center;
  color: rgb(0, 52, 238);
  font-size: 22px;
  margin-bottom: 1px;
}

/* color de fondo del proyecto y letra */
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(238, 245, 247);
  overflow-x: hidden;
}

/* color de la letra de todos los html */
p {
  font-size: 17px;
  color: rgb(17, 20, 28);
  margin-top: 0;
  margin-bottom: 15px;
  padding: 5px;
  /* margin:10px 30px;   */
  text-align: justify;
}

/* color de los subtitulos */
h2 {
  font-size: 20px;
  color: rgb(15, 163, 236);
  padding: 20px 5px;
  margin-left: 10px;
  margin-bottom: 8px;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
}

/* color de la lista de quienes somos */
.ordenar {
  font-size: 17px;
  color: rgb(7, 82, 242);
  padding: 20px 30px;
  margin-left: 30px;
  gap: 40px;
}

/* ---------- FOOTER ---------- */
.footer-ipem {
  background-color: #00d0ff;
  color: #060eff;
  padding: 10px 0;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: auto;
}

/* color de los textos dentro de horarios redes y contacto */
.lista-footer {
  color: #ffffff;
  font-family: #ffffff;
  list-style: none;
  padding-left: 0;
}

.fin-footer-animado {
  animation-name: fin-footer;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fin-footer {
  from {
    transform: translatex(20px);
  }
  to {
    transform: translatex(0);
  }
}
/* para selecionar textos y que quede pintado */
::selection {
  background-color: rgb(246, 170, 64);
  color: white;
}

/*----------------- MEDIAQUERTE -------------- */
@media (max-width: 500px) {
  .galeria {
    flex-direction: column;
    align-items: center;
  }
  .galeria img {
    width: 100%;
    max-width: 320px;
    height: 200px;
    object-fit: cover;
  }
}
@media (max-width: 1000px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 20px;
    gap: 20px;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
