*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

/* -------- Header ---------- */
header{
    display: flex;
    background-color:cornflowerblue;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    position: sticky;
    top: 0px;
    z-index: 100;
}

header img{
    display: flex;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

header h1{
    text-align: center;
    color: black;
    font-size: 22px;
    margin-bottom: 1px;
}

nav{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

nav a{
    display: flex;
    font-size: 14px;
    text-decoration: none;
    color: var(--color-accent);
    background-color: rgb(255, 196, 108);
    padding: 10px;
    border-radius: 7px;
    color:rgb(0, 43, 237);
    margin-bottom: 1px;
}

nav a:hover{
    background-color: rgb(246, 248, 251);
    color: black;
    box-shadow: 1px 1px 5px black;
}

nav a:active{
    background-color: rgb(8, 4, 245);
}

h2{
    font-size: 20px;
    color: rgb(52, 114, 246);
    padding: 20px 5px;
    margin-left: 10px;
    margin-bottom: 8px;
}

p{
    font-size: 17px;
    color: rgb(0, 5, 15);
    margin-top: 0;
    margin-bottom: 15px;
    padding: 5px;
    margin:10px 30px;  
    text-align: justify;
}

.ordenar{
    font-size: 17px;
    color: rgb(102, 147, 237);
    padding: 20px 30px;
    margin-left: 30px; 
    gap: 40px;
}

/* -------- FOTOS DE LA GALERÍA ------ */
.galeria{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    /* margin-bottom: 30px; */
}

.galeria img{
    width: 200px;
    height: 150px;
    object-fit: cover; /* ---- para no deformarse ---- */
    border-radius: 8px;
}

.img-galeria{
    display: flex;
    justify-content: center;
}

.ubicacion{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.proyecto{
    background-color: rgb(250, 169, 70);
    margin: 20px auto;
    padding: 5px;
    width: 95%;
    border-radius: 15px;
}

.subtitulo{
    text-align: center;
    color: rgb(37, 0, 249);
    font-size: 22px;
    margin-bottom: 10px;
}

/* .nav-colorfondo{
    background-color: rgba(8, 169, 244, 0.23);
    text-align: center;
} */
.formulario-contacto {
    background-color: #e6f0ff;
    color: #003366;           
}

.form-label{
    text-align: center;
}

/* --------TEXTO SELECCIONADO -------- */

::selection{
    background-color: rgb(246, 170, 64);
    color: white;
}

/*---------- Footer ------------*/
footer{
    background-color: rgb(123, 161, 244); 
    color: #ffffff; 
    padding: 10px 10px; 
}

.footer-container{
    display: flex; 
    justify-content: space-between;
    /* align-items: center; */
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

.footer-info img{
    width: 100px;
    margin-bottom: 10px;
    border-radius: 50%;
}

div ul{
    color: rgb(39, 38, 38);
}

/*----------------- MEDIAQUERTE -------------- */

@media (max-width:500px){
    header{
        flex-direction: column;
        align-items: center; 
}

    nav{
        flex-direction: column;
        gap: 5px;
}

.footer-container{
    flex-direction: column;
    align-items: center;
    text-align:center;
}
}
