
@use "utilities/variables";

@use "base/reset";

@use "components/logo";
@use "components/titulo";
@use "components/menu";
@use "components/galeriafotos";
@use "components/mapa";
@use "components/form";

@use "layout/header";
@use "layout/body";
@use "layout/main";
@use "layout/quienessomos";
@use "layout/footer";
@use "layout/selecciontextos";

@use "layout/media500";
@use "layout/media1000";














