@use "../utilities/variables" as *;


/* color de la letra de todos los html */
p{
    font-size: 17px;
    color: $color-textos;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 5px;
    /* margin:10px 30px;   */
    text-align: justify;
}

/* color de los subtitulos */
h2{
    font-size: 20px;
    color:$color-subtitulos;
    padding: 20px 5px;
    margin-left: 10px;
    margin-bottom: 8px;
}