@use "../utilities/mixins" as *;
/*----------------- MEDIAQUERTE -------------- */

@media (max-width: 500px) {
  .galeria {
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      max-width: 320px;
      height: 200px;
      object-fit: cover;
    }
  }
}