@use "../utilities/mixins" as *;
/*----------------- MEDIAQUERTE -------------- */

@media (max-width:500px){
    header{
        @include media;

        // flex-direction: column;
        // height: auto;
        // padding: 20px;
        // gap: 20px;
        // align-items: center;    
    }
}