
@use "../utilities/mixins" as *;
/*----------------- MEDIAQUERTE -------------- */

@media (max-width: 500px) {
  .contenedor{
    padding: 0 16px;
  }

  .galeria {
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      max-width: 320px;
      height: 200px;
      object-fit: cover;
    }
  }

    p{
      text-align: justify;
      padding: 0;
      margin-bottom: 12px;
      line-height: 1.4;
      }
    }
