@use "../utilities/variables" as *;

/* color de la lista de quienes somos */
.ordenar{
    font-size: 17px;
    color: $color-letralista;
    padding: 20px 30px;
    margin-left: 30px; 
    gap: 40px;
}

// .quienes-somos{
//     display: flex;
//     gap: 40px;
//     max-width: 1100px;
//     margin: 60px auto;
//     padding: 0 20px;
//     align-items: center;
// }

// // contenedor imagen
// .qs-img{
//     flex: 1;
// }

// // imagen
// .qs-img img{
//     width: 100%;
//     height: 350px;
//     object-fit: cover;
//     border-radius: 12px;
// }

// texto
// .qs-texto{
//     flex: 1.2;

//     h2{
//         margin-bottom: 15px;

//         p{
//             margin-bottom: 15px;
//             line-height: 1.6;
//         }
//     }
// }

