// /todo el protecto/ 
$color-fondo:rgb(238, 245, 247);
$color-header: #7cadf6;
$color-titulo:rgb(0, 52, 238);
$color-textos: rgb(17, 20, 28);
$color-subtitulos:rgb(15, 163, 236);

$texto-proyecto: Arial, Helvetica, sans-serif;

// formulario
$color-fondoform: #d2e2fa;
$color-textoform: #363122;
$color-titulosform:rgb(237, 151, 13);
$color-botonform: rgb(47, 171, 248);
$color-bordeboton:rgb(236, 164, 11);
$color-boton: blue;

// caja de galeria de fotos
$color-fondogaleria: rgb(245, 180, 95);
$color-titulodegaleria: rgb(13, 156, 244);

// menú 
$color-fondomenu: rgb(35, 82, 136);
$color-letramenu: rgb(92, 187, 239);
$color-hovermenu: rgb(226, 150, 9);

$texto-menu: Verdana, Geneva, Tahoma, sans-serif;

// footer
$color-fondofooter: #7cadf6;
$color-letrafooter: #004bfb;

$texto-footer: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// listas de footer
$color-listafooter: #faf6f6;

$texto-listafooter: Georgia, 'Times New Roman', Times, serif;

// selección de textos 
$color-seleccionfondo: rgb(246, 170, 64);
$color-seleccionletra: white;

// color de las listas
$color-letralista: rgb(5, 87, 249);