
// /todo el protecto/ 
$color-fondo: rgb(238, 245, 247);
$color-header: #00d0ff;
$color-titulo: rgb(0, 52, 238);
$color-textos: rgb(17, 20, 28);
$color-subtitulos: rgb(15, 163, 236);

$texto-proyecto: Arial, Helvetica, sans-serif;

// formulario
$color-fondoform: #d2e2fa;
$color-textoform: #363122;
$color-titulosform: rgb(237, 159, 41);
$color-botonform: rgb(132, 199, 241);
$color-bordeboton: rgb(236, 164, 11);
$color-boton: blue;

// caja de galeria de fotos
$color-fondogaleria: rgb(10, 2, 246);
$color-titulodegaleria: rgb(83, 203, 243);

// menú 
$color-fondomenu: rgb(27, 3, 243);
$color-letramenu: rgb(92, 187, 239);
$color-hovermenu: rgb(226, 150, 9);

$texto-menu: Verdana, Geneva, Tahoma, sans-serif;

// footer
$color-fondofooter: #00d0ff;
$color-letrafooter: #060eff;

$texto-footer: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// listas de footer
$color-listafooter: #ffffff;

$texto-listafooter: Georgia, 'Times New Roman', Times, serif;

// selección de textos 
$color-seleccionfondo: rgb(246, 170, 64);
$color-seleccionletra: white;

// color de las listas
$color-letralista: rgb(7, 82, 242);