@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

/* -------- FOTOS DE LA GALERÍA ------ */
.galeria {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.galeria img {
    width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
  }

// imagenes del html quienes somos
.img-galeria {
  display: flex;
  justify-content: center;
  margin: 30px 0;

 img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
  }
}

/* color de la fondo de las imagenes */
.proyecto{
    background-color: $color-fondogaleria;
    margin: 20px auto;
    padding: 5px;
    width: 95%;
    border-radius: 15px;
}

/* título de la caja de fotos */
.subtitulo{
    text-align: center;
    color: $color-titulodegaleria;
    font-size: 22px;
    margin-bottom: 10px;
}